<?xml version="1.0" encoding="UTF-8"?>

<plugin title="fusion">
  
 <lifecycle-listener class="com.xpandit.fusionplugin.pentaho.FcLifecycleListener"/>
   
  <content-types>   
      <static-paths>
	      <static-path url="/xfusion/res" localFolder="resources"/>
	      <static-path url="/xfusion/js" localFolder="js"/>
	      <static-path url="/xfusion/JSClass" localFolder="fusioncharts/JSClass"/>
	      <static-path url="/xfusion/swf" localFolder="fusioncharts/charts"/>
	      <static-path url="/xfusion/widgets" localFolder="widgets"/>
	  </static-paths> 
  
	  <content-type type="xfusion" mime-type="text/html">
	    <title>Fusion Config</title>
	    <description>Fusion Config File</description>
	    <icon-url>content/xfusion/res/icon.jpg</icon-url>
	    <meta-provider>com.xpandit.fusionplugin.pentaho.content.FusionContentTypeMetaProvider</meta-provider> 
	    <operations>
	      <operation>
	        <id>RUN</id>
	      </operation>
	    </operations>
	  </content-type>
  </content-types>
  
  <external-resources>
  	<!-- Integration with EE Dashboards-->
    <file context="dashboards">content/xfusion/js/XDashFusionChartComponent.js</file>
    <!-- Integration with Analyzer -->
  	<file context="analyzer">content/xfusion/js/vizapi/fusioncharts_wrapper.js</file>    
    <file context="analyzer">content/xfusion/js/vizapi/fusioncharts_analyzer_plugin.js</file>
    <!-- Required dependencies -->
    <file context="analyzer">content/xfusion/js/vizapi/chart_settings.js</file>
    <file context="analyzer">content/xfusion/JSClass/FusionCharts.js</file>
   <!-- <file context="analyzer">content/xfusion/js/XDashFusionChartComponent.js</file> --> 
  </external-resources>
</plugin>