<?xml version="1.0" encoding="UTF-8"?>

<plugin title="fusion">
  
 <lifecycle-listener class="com.xpandit.fusionplugin.FcLifecycleListener"/>
     
  <content-type type="xfusion" mime-type="text/html">
    <title>Fusion Config</title>
    <description>Fusion Config File</description>
    <icon-url>content/fusion/res/icon.jpg</icon-url>
    <meta-provider>com.xpandit.fusionplugin.content.FusionContentTypeMetaProvider</meta-provider> 
    <operations>
      <operation>
        <id>RUN</id>
        <command>content/fusion?solution={solution}&amp;path={path}&amp;name={name}&amp;dashboard-mode=false</command>
      </operation>
    </operations>
  </content-type>
  
   <content-generator
    id="fusion"
    title="Fusion Component"
    type="xfusion"
    class="com.xpandit.fusionplugin.content.FusionContentGenerator"/>
 
   
    <static-paths>
      <static-path url="/fusion/res" localFolder="resources"/>
      <static-path url="/fusion/js" localFolder="js"/>
      <static-path url="/fusion/JSClass" localFolder="fusioncharts/JSClass"/>
      <static-path url="/fusion/swf" localFolder="fusioncharts/charts"/>
      <static-path url="/fusion/widgets" localFolder="widgets"/>
    </static-paths>  
    
    <bean id="fusionComponent" class="com.xpandit.fusionplugin.FusionComponent"/>
	
	<menu-items>
		<menu-item id="xFusion_refresh" anchor="tools-refresh-submenu" label="xFusion Cache" command="content/fusion/clearCache" type="MENU_ITEM" how="LAST_CHILD"/>
	</menu-items>

</plugin>